body {
  margin: 0;
  padding: 0;
}

@media (max-width: 959px) {
  .left-side-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
  }
  .button-info-container {
    margin-bottom: 1rem;
  }
}

@media (max-width: 770px) {
  .chart-container {
    width: 100% !important;
  }
  .find-stock-container {
    width: 100%;
  }
}
